@model IEnumerable<Homework7.Models.RequestLog>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Internet Language Translator</h2>
<br />

<div>
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = 0, @class = "myForm" }))
    {
        <div class="form-group" align="center">
            @Html.TextBox("text-input", "", new { @class = "form-control", @PlaceHolder = "Start typing your message here ..." })
            <br />
            <button type="button" class="btn-danger" id="clearBtn">Clear All</button>
        </div>

        <div>
            <div id="returnView">

            </div>
        </div>
    }

        @section JS
        {
            <script type="text/javascript" src="/Scripts/InternetTranslatorAjax.js"></script>

        }
</div>
