@model IEnumerable<Homework6.Models.Person>

<div class="jumbotron text-center">
    <h2>Client Search</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
    {
    
        
        <div class="form-group">
            <div class="input-group" style="display:inline">
                @Html.TextBox("searchBar", "", new { @class = "form-control", @placeholder = "Search by client name", required = "required" })

                <button class="btn" type="submit">Search</button>

            </div>
        </div>
    }

</div>

<div class="row">
    <br />
    <br />
    @if (ViewBag.display)
    {
        if (ViewBag.isValid <= 0)
        {
            <div class="col-lg-12">
                <p>I am sorry, your search returned no results.</p>
            </div>
        }
        else
        {
           
            foreach (var people in Model)
            {
                <div class="col-lg-4 text-center">
                    <a class="btn btn-light" href="Home/Details/@people.PersonID" role="button">@people.FullName</a>
                </div>
            }

        }
    }
</div>