@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Campus Aparments Tennent Requests</h1>
    <p>
        Is your light out? Washing machine busted? Well sucks to be you. Fill out this form and we'll fix it for you.
    </p>
    <p><a href="../Requests/Create" class="btn btn-primary btn-lg"> Form &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you the Rentor?</h2>
        <p><a class="btn btn-default" href="../Requests/">Click Here &raquo;</a></p>
    </div>
    
</div>