@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">A few forms and some simple server-side logic-- learning the basics of GET,POST, query strings, form data and handling it all from an ASP.NET MVC 5 application. To be honest, I really don't have a clue what most of that jargon really means, but I'm doing my best.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">My Portfolio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
            Want to know how many milimeters there are in 26.2 miles? Want some uncertainty if it is actually correct or not? Boy do I have the calculator for you! If the calculator could talk, it would practically quote Oscar Wilde, “I don't play accurately--any one can play accurately--but I play with wonderful expression. As far as the piano is concerned, sentiment is my forte. I keep science for Life.” This nifty calculator is supposed to use query strings to send from data to the server which performs the calculation and returns the answer in the requested page.
        </p>
        <p>@Html.ActionLink("Try it, if you dare!", "MileConverter","Home", new{@class= "btn btn-primary"})</p>
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>Are you and your significant other stressing about what color to paint the walls? Do you want a drab grey, while your partner wants a gaudy egg yolk yellow? Well I have the solution for you! This color mixer mixes two hex values which usually results in a really off-putting color. This will absolutely ruin your relationship as the form POST's the data to the server.</p>
        <p>@Html.ActionLink("Try it, if you dare!", "ColorMixer", "Home", new { @class = "btn btn-primary" })</p>
    </div>

</div>